.language_options {

  select {
    width: 200px;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  option {
    padding: 15px 20px;
  }
}

body.night-mode {
  .language_options {

    select {
      background-color: rgba(0, 0, 0, 0.3) !important;
      color: #ababab;
    }

    option {
      background-color: rgba(0, 0, 0, 0.3) !important;
      color: #f9f6f6;
    }
  }
}