.bing-search-result {
    h2 {
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                text-decoration: none;
                color: #1785df;
                font-size: 12px;
            }

            margin-bottom: 10px;
        }
    }

    button {
        background-color: transparent;
    }
}

body.night-mode {

    .bing-search-result {
        color: #d0d0d0;
    }
}